<section>
    <a href="/movies/">go back</a>
    <img src="{{movie.image}}">
    <p>Director : {{movie.director}}</p>
    <p>Title : {{movie.title}}</p>
    <p>Stars : {{movie.stars}}</p>
    <p>{{movie.description}}</p>
    <p>{{movie.showtimes}}</p>
</section>